.singleRecipe {
    flex: 9;
}

.singleRecipeWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singleRecipeImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singleRecipeTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
}

.singleRecipeTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

    .singleRecipeTitleInput:focus {
        outline: none;
    }

.singleRecipeEdit {
    float: right;
    font-size: 16px;
}

.singleRecipeIcon {
    margin-left: 10px;
    cursor: pointer;
}

    .singleRecipeIcon:first-child {
        color: teal;
    }

    .singleRecipeIcon:last-child {
        color: tomato;
    }

.singleRecipeInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
}

.singleRecipeDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

    .singleRecipeDesc::first-letter {
        margin-left: 20px;
        font-size: 30px;
        font-weight: 600;
    }

.singleRecipeDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

    .singleRecipeDescInput:focus {
        outline: none;
    }

.singleRecipeButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}
